[submodule "mono"]
	path = mono
	url = git@github.com:shivamgif/cp-mono.git
[submodule "anti-plagiarism-project"]
	path = anti-plagiarism-project
	url = git@github.com:shivamgif/cp-main.git
[submodule "anti-plagiarism-database-flyway"]
	path = anti-plagiarism-database-flyway
	url = git@github.com:shivamgif/cp-database-flyway.git
[submodule "engine-switcher"]
	path = engine-switcher
	url = git@github.com:shivamgif/cp-engine-switcher.git
