[submodule "mono"]
	path = mono
	url = git@git.rwth-aachen.de:learntech-lufgi9/ss24/practical-lab/mono.git
[submodule "anti-plagiarism-project"]
	path = anti-plagiarism-project
	url = git@git.rwth-aachen.de:learntech-lufgi9/ss24/practical-lab/anti-plagiarism-project.git
[submodule "anti-plagiarism-database-flyway"]
	path = anti-plagiarism-database-flyway
	url = git@git.rwth-aachen.de:learntech-lufgi9/ss24/practical-lab/anti-plagiarism-database-flyway.git
[submodule "engine-switcher"]
	path = engine-switcher
	url = git@git.rwth-aachen.de:learntech-lufgi9/ss24/practical-lab/engine-switcher.git
